@charset “utf-8”;

/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* -------------------- WEB PORTFOLIO BY MYOUNGAE KIM -------------------- */
/* -------------------------- (C) MYOUNGAE KIM --------------------------- */
/* ----------------------------------------------------------------------- */
/* ---- THE WEBSITE IS DESIGNED AND CODED BY MYOUNGAE KIM FOR HERSELF ---- */
/* ----------- PLEASE DO NOT COPY,MODIFY, AND SHARE THE CODES ------------ */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */

@font-face {
    font-family: 'f_regular';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NHG_55.woff') format("woff"),
         url('fonts/NHG_55.otf') format("otf");
}

@font-face {
    font-family: 'f_medium';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NHG_65.woff') format("woff"),
         url('fonts/NHG_65.otf') format("otf");
}

html {
	font-size: 12px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	box-sizing: border-box;
	font-weight: normal;
}

ul, ol {
	list-style: none;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}


h1, h2, h3, h4, h5, h6, b, strong {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "f_regular", "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
	font-size: 0.92rem;
	line-height: 1.58;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

::selection {
  color: #fff;
  background: #000;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

.d_n {
	display: none;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

/*.cursor {
	position: fixed;
	width: 1.5rem;
	height: 1.5rem;
	left: -50%;
	top: 50%;
  border-radius: 1.5rem;
  transform: translateX(-50%) translateY(-50%);
  background: #000;
  background-blend-mode: difference;
  transition: all 300ms ease-out;
  z-index: 10000;
}*/

.bor {
	border: 1px solid #000;
}

.b_l {
	border-left: 1px solid #000;
}

.b_r {
	border-right: 1px solid #000;
}

.b_t {
	border-top: 1px solid #000;
}

.b_b {
	border-bottom: 1px solid #000;
}

.red, .red .advent_door {
	color: #000;
	background: #ff1c3e;
}

.red .bor {
	border: 1px solid #000;
}

.red .b_l {
	border-left: 1px solid #000;
}

.red .b_r {
	border-right: 1px solid #000;
}

.red .b_t {
	border-top: 1px solid #000;
}

.red .b_b {
	border-bottom: 1px solid #000;
}

.red a, .red a:hover, .red a:focus, .red a:active {
	color: #000;
}

.red .p_left .p_text .p_circle {
	background: #000;
}

.red .cnt_slides_numbers .slides_number {
	color: #bb2929;
}

.red .advent_t > a {
	color: #fff;
}

a, a:hover, a:focus, a:active {
	color: #000;
}

a:hover, a:active {
	text-decoration: underline;
}


/* ---------- cnt_main ----------	*/

body {
	overflow: hidden;
	font-weight: 100;
}

.cnt_main {
	width: 100vw;
	height: 100vh;
}

/* ---------- cnt_left ----------	*/

.cnt_left {
	float: left;
	width: 25vw;
	height: 100vh;
}

.advent_story {
	width: 100%;
	height: 16.66%;
	font-size: 0.92rem;
}

.advent_story .advent_column > span {
	position: absolute;
	top: 1rem;
	left: 4.5rem;
}

.advent_column {
	float: left;
	height: 100%;
	position: relative;
}

.advent_column.w25 {
	width: 25%;
	background: #000;
	position: relative;
}

.advent_column.w50 {
	width: 50%;
	padding: 1rem;
}

.advent_column.w75 {
	width: 75%;
	padding: 1rem;
}

.advent_door {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 1rem;
	z-index: 200;
}

.advent_door.open {
	animation-name: ani_open;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes ani_open {
	0% {transform: perspective(45rem) rotateY(0);transform-origin: right;}
	100% {transform: perspective(45rem) rotateY(-84deg);transform-origin: right;}
}

.advent_door.open.close {
	animation-name: ani_close;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes ani_close {
	0% {transform: perspective(45rem) rotateY(-84deg);transform-origin: right;}
	100% {transform: perspective(45rem) rotateY(0);transform-origin: right;}
}

.advent_c {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50;
}

.advent_c > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin-top: 27%;
}

.advent_c:hover {
	cursor: grab;
}

.advent_c > .advent_shadow {
	position: absolute;
	top: 75%;
	left: 24%;
	width: 54%;
	height: 10%;
	filter: blur(1rem);
	-webkit-filter: blur(1rem);
}

.advent_c:hover .advent_shadow {
	background: #333;
}


.advent_c:hover .advent_shadow {
	animation: ani_twinkle 0.5s infinite;
	animation-direction: alternate;
}

@keyframes ani_twinkle {
	0%	{background: #333;}
	100% {background: #666;}
}


.advent_t {
	width: 100%;
	padding: 1rem;
	color: #fff;
	margin-top: 17%;
}

.advent_t > a {
	color: #fff;
}

.advent_column.home {
	padding: 2.2rem 1.9rem;
}

.advent_column.home > a {
	font-size: 1.7rem;
	line-height: 1.0;
}


/* ---------- cnt_right ----------	*/

.cnt_right {
	float: left;
	width: 75vw;
	height: 100vh;
	overflow-y: auto;
}

.project {
	width: 100%;
	padding: 2rem;
}

.p_left {
	float: left;
	width: 22.5vw;
}

.p_left .p_text {
	position: relative;
}

.p_left .p_text .p_circle, .cnt_page .p_circle {
	position: absolute;
	left: 0rem;
	top: 0.32rem;
	width: 1.24rem;
	height: 1.24rem;
	border-radius: 1.24rem;
	background: #000;
}

.p_left .p_text .p_t {
	margin-left: 5.3rem;
}

.p_left .p_t1 {
	font-family: "f_medium";
	font-size: 1.4rem;
	line-height: 1.3;
	white-space: nowrap; 
  width: 90%; 
  overflow: hidden;
  text-decoration: underline;
  text-overflow: ellipsis;
}

.p_left .p_t2 {
	line-height: 1.3;
	margin-top: 0.2rem;
}

.p_left .p_body {
	margin-top: 2rem;
}

.p_left .p_body > p {
  overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 1.5rem;
}

.p_left .p_body .info th {
	text-align: left;
	width: 10rem;
}

.p_right {
	float: right;
	width: 47.2vw;
}

.p_right .cnt_slides, .p_right .slides_img, .p_right .slides_img > img {
	width: 100%;
}

.cnt_slides {
	position: relative;
	content: '';
	width: 100%;
	min-height: 31.45vw;
	background: #000;
	line-height: 0;
}

.cnt_slides .slides_img {
	display: none;
	z-index: 10;
}

.cnt_slides_numbers {
	margin-top: 1rem;
	text-align: right;
	line-height: 0.8;
}

.cnt_slides_numbers > span {
	display: inline-block;
	font-size: 1.1rem;
	width: 1.2rem;
}

.cnt_slides_numbers .slides_des {
	float: left;
	text-align: left;
	width: 80%;
	height: 1.2rem;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cnt_slides_numbers .slides_number {
	cursor: pointer;
	color: #ddd;
}

.cnt_slides_numbers .slides_number:hover, .cnt_slides_numbers .slides_number:focus, .cnt_slides_numbers .slides_number:active {
	color: #000;
}

.cnt_slides_numbers .slides_number.active {
	color: #000;
}

/* ---------- page - project ----------	*/

.cnt_list {
	width: 100%;
	height: 100vh;
}

.cnt_page {
	width: 100%;
}

.cnt_page .cnt_left {
	overflow-y: auto;
}

.cnt_page .page_text {
	width: 100%;
}

.cnt_page .page_text.project {
	padding-right: 0.2rem;
}

.cnt_page .page_text .page_title {
	padding-top: 1.2rem;
	padding-bottom: 4rem;
}

.page_text .page_title .p_circle {
	width: 0.95rem;
	height: 0.95rem;
	border-radius: 0.95rem;
	top: 0.3rem;
}

.page_text .page_title .t1 {
	position: relative;
	font-size: 1.2rem;
	line-height: 1.4;
	padding-left: 4rem;
}

.page_text .page_title .t2 {
	display: none;
}

.page_text .page_body {
	width: 96%;
	margin-bottom: 2rem;
}

.page_text .page_info {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.page_text .info th {
	width: 9rem;
	text-align: left;
}

.page_images {
	width: 100%;
	line-height: 0;
}

.page_images > img {
	width: 100%;
	height: auto;
	margin-bottom: 2rem;
}

.page_images > img:last-child {
	margin-bottom: 0;
}

.page_images > img:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: black;

}

.page_nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 25vw;
	padding-left: 2rem;
	padding-right: 0.2rem;
	margin-bottom: 2rem;
	background: #fff;
}

.index li {
	width: 100%;
	padding: 1rem 0;
	white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.index > li > span {
	float: left;
}

.index > li > p {
	padding-left: 4rem;
}

/* ---------- page - about ----------	*/

#pageSlider span {
	animation: ani_bg 1.4s;
}

@keyframes ani_bg {
	0%		{color: #fff}
	99%	{color: #fff;}
	100%	{color: #000;}
}

.slider {
	position: absolute;
	left: 0;
	width: 100vw;
	background: #000;
	animation: ani_slide cubic-bezier(0.76, 0, 0.24, 1) 1.5s;
	z-index: 1000;
}

@keyframes ani_slide {
	0%		{height:0;top:0;}
	50%		{height:100vw;bottom:0;}
	100%	{height:0;bottom:0;}
}

.style_about {
	font-size: 4.2rem;
	line-height: 1.15;
	padding: 2rem;
}

#aboutText {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	text-align: justify;
}

.text_hide {
	display: inline-block;
	position: relative;
	color: #fff;
	z-index: 0;
}

.text_hide img.wiggle {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10rem;
	height: auto;
	transform: translate(-5rem, -6.2rem);
	z-index: 100;
}

.img_hide {
	transform: translate(0, -50vh);
	animation: ani_in 1.5s cubic-bezier(0, 1.37, 0.56, 1.18) both;
	animation-iteration-count: 1;
}

@keyframes ani_in {
	0% {
		transform: translate(0, -50vh);
	}
	100% {
		transform: translate(0, -2.5rem);
	}
}

.img_hide.in1 {
	animation-delay: 1.8s;
}

.img_hide.in2 {
	animation-delay: 2.0s;
}

.img_hide.in3 {
	animation-delay: 2.5s;
}

.img_hide.in4 {
	animation-delay: 1.5s;
}

.img_hide.in5 {
	animation-delay: 2.0s;
}

.img_hide.in6 {
	animation-delay: 1.5s;
}

.img_hide.in7 {
	animation-delay: 2.5s;
}

.img_hide.in8 {
	animation-delay: 2.2s;
}


.text_hide > .text_b {
	color: #000;
}

.text_hide:hover .text_b {
	color: #fff;
}

.text_hide:hover {
	text-shadow: 0 0 1rem #272727;
}

#aboutBtn {
	position: absolute;
	bottom: 0;
	right: 0;
}

#aboutBtn > span {
	float: left;
	font-size: 3.5rem;
	margin-top: -0.2rem;
}

.advent_c.wiggle:hover {
	animation: ani_about_wiggle ease-in-out 1s;
}

@keyframes ani_about_wiggle {
  0%, 7% {
    transform: translate(-5rem, -6.2rem) rotateZ(0);
  }
  15% {
    transform: translate(-5rem, -6.2rem) rotateZ(-15deg);
  }
  20% {
    transform: translate(-5rem, -6.2rem) rotateZ(10deg);
  }
  25% {
    transform: translate(-5rem, -6.2rem) rotateZ(-10deg);
  }
  30% {
    transform: translate(-5rem, -6.2rem) rotateZ(6deg);
  }
  35% {
    transform: translate(-5rem, -6.2rem) rotateZ(-4deg);
  }
  40%, 100% {
    transform: translate(-5rem, -6.2rem) rotateZ(0);
  }
}

.advent_column .wiggle:hover {
	animation: ani_wiggle ease-in-out 1s;
}

@keyframes ani_wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

/* ---------- reel ----------	*/

#passwordContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 11rem;
    margin-left: -15rem;
    margin-top: -6rem;
    color: #fff;
}

#passwordContainer h2 {
    float: left;
    width: 50%;
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 2.2rem;
}

#caption {
    font-size: 1rem;
    color: #333;
    margin-top: 1.2rem;
}

#passwordInput {
    font-size: 1rem;
    width: 20.4rem;
    padding: 1.1rem 1.4rem;
    border: 1px solid #212121;
    background: #000;
    color: #fff;
    z-index: 100;
}

input#passwordInput:focus {
    outline: none !important;
}

#submitPassword {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    padding: 1.1rem 1.4rem;
    cursor: pointer;
    background: #000;
    color: #444;
    border: 1px solid #212121;
    box-shadow: none;
}

#submitPassword:hover, #submitPassword:focus {
    background: #111;
    color: #555;
}

#errorMessage {
    font-size: 1rem;
    color: #f00;
    margin-top: 1.2rem;
}

#videoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#protectedVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ---------- footer ----------	*/

#footer .f_right {
	float: right;
	text-align: right;
}


/* ---------- media query ---------- */

@media only screen and (max-width: 768px) {
  html {font-size:12px}
  body {overflow: initial;}
  .project {padding:1.4rem 1.1rem 1.2rem 1.1rem;}
  .cnt_left, .cnt_right {float:initial;width:100%;height:100%;}
  .cnt_left.b_r {border-right:none;border-bottom:1px solid #000;}
  .cnt_right {overflow-y:initial;padding-bottom:20rem;}
  .advent_column {font-size: 0.85rem;}
  .advent_column.home {padding:1.2rem;}
  .advent_column.home > a {font-size:1.8rem;}
  .advent_t {margin-top: 5%;}
  .cnt_slides {min-height:60.25vw;margin-top:2.1rem;}
  .p_left .p_text .p_t {margin-left:4rem;}
  .p_left, .p_right {float:initial;width:100%;}
  .p_body {display:none;}
  .cnt_slides_numbers {margin-top:0.6rem;}
  .cnt_slides_numbers .slides_des {display: none;}
  .cnt_slides_numbers > span {font-size: 1rem;}
  .advent_c > img {margin-top: 8%}
  .page_text .page_title .t1 {padding-left:3.8rem;font-size:1.25rem;}
  .page_images > img {margin-bottom: 1rem;}
  .page_nav {width:100%;padding:1.2rem;margin-bottom:0;background:#fff;}
  .cnt_page {position:relative;}
  .cnt_page .cnt_left {height:initial;}
  .cnt_page .project {padding:1rem;}
  .cnt_page .page_text.project {padding:1rem;}
  .cnt_page .page_text .page_title .p_circle {left:0.2rem;top:0.4rem;}
  .cnt_page .cnt_left .page_body {width:100%}
  .cnt_page .cnt_left .page_body > p {padding:0 0.2rem;}
  .cnt_page .cnt_left .page_text .info th {padding-left:0.2rem;}
  .index > li > p {padding-left:3.8rem;}
  #footer .f_left {float:right;}
  .cnt_page #footer {padding-bottom:6rem;}
  .style_about {font-size:2rem;line-height:1.3;padding:1.2rem;}
  #aboutBtn > span {font-size:1.6rem;margin-top:0;}
  .text_hide > img {width:6rem;transform:translate(-3rem, -3.5rem);}
}


@media only screen and (min-width: 1729px) and (max-width: 3500px) {
  .advent_c > img {margin-top:24%}
} 

@media only screen and (min-width: 769px) and (max-width: 1080px) {
  html {font-size:9.5px}
} 

@media only screen and (min-width: 1081px) and (max-width: 1400px) {
  html {font-size:11px}
} 

@media only screen and (min-width: 1401px) and (max-width: 1728px) {
  html {font-size:12px}
} 

@media only screen and (min-width: 1729px) and (max-width: 1900px) {
  html {font-size:14px}
}

@media only screen and (min-width: 1901px) {
  html {font-size:15px}
}


